*, *:before, *:after {
    box-sizing: inherit;
}
body{

    margin: auto 0;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2em;
}

p{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.2em;
}

main.pricipal {
    position: relative;
}

div.contenedor img {
    max-width: 100%;
}

div.contenido {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 50%;
    width: 50%;
}

div.contenido img{
    width: 24%;
    border-radius: 50%;
    border: white solid 5px;   
}


